name: Deploy to prod
on:
  push:
    # Sequence of patterns matched against refs/heads
    branches:
      - master
jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
      - name: 'Add release tag'
        run: git tag prod-release && git push "https://$GITHUB_ACTOR:$GITHUB_TOKEN@github.com/$INPUT_REPO.git" --tags